    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #bfbfbf;
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        flex: 1;
        width: 100%;
    }

    .form-table {
        border-collapse: collapse;
        margin-bottom: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .form-table td, .form-table th {
        text-align: center;
    }

    th {
        height: 10px;
    }

    .input input[type="text"] {
        text-align: center;
        text-transform: uppercase;
    }

    .input input[type="text"]::placeholder {
        text-transform: none;
    }

    input[type="text"]:focus {
        outline: none; 
    }

    #map {
        flex: 1; 
        width: 100%;
        position: relative;
    }

    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        border-radius: 5px;
    }

    .locator-label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .locator-label .icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        margin-right: 5px;
        font-size: 12px;
    }

    .locator-label .icon.A {
        background-color: red;
    }

    .locator-label .icon.B {
        background-color: blue;
    }

    .icon.A {
        margin-left: 5px;
    }

    .icon.B {
        margin-left: 5px;
    }

    .mouse-locator-info {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        z-index: 1000;
        width: 70px; 
        height: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    #mouse-locator {
        display: none; 
    }

    .leaflet-control-layers {
        margin-top: 10px;
    }

    .show-location-button img {
        width: 25px;
        height: 25px; 
    }

    .show-location-button {
        background: white;
        border: 2px solid rgba(0, 0, 0, 0.2); 
        border-radius: 3px; 
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
        width: 30px; 
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 1000;
    }

    .show-location-button.add-locator {
        top: -14px; 
        left: 0;
    }

    .show-location-button.add-locator-b {
        top: -23px;
        left: 0;
    }

    .show-location-button.add-locator img {
        width: 20px;
        height: 20px; 
    }

    .show-location-button.add-locator-b img {
        width: 20px;
        height: 20px; 
    }



@media (max-width: 768px) {
    .input input[type="text"] {
        width: 80%;
        font-size: 9px;
    }

    th, td {;
        width: 300px;
        font-size: 12px;
    }

    #map {
        height: 100vh; 
    }

    .locator-label .icon {
        width: 15px;
        height: 15px;
        margin-right: 0;
        font-size: 12px;
    }

    table.form-table {
        width: 100vw;
        border-collapse: collapse;
        margin-bottom: 10px;
        align-item: center;
        display: block;
        flex-direction: column;
        margin-left: 0;
        padding-right: 100px;
        padding-left: 10px;
    }

    .locator-label .icon.A {
        background-color: transparent;
        color: red;
    }

    .locator-label .icon.B {
        background-color: transparent;
        color: blue;
    }

    .icon.A, .icon.B {
        margin-left: 0;
    }

    button {
        font-size: 10px;
    }

    label {
        font-size: 12px;
    }
}
