    body {
        background-color: #bfbfbf;
        text-align: center;
    }

    table {
        margin-top: 60px;
        border-collapse: collapse;
        width: 100%;
        max-width: 700px;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-top: -10px;
    }

    th, td {
        border: 1px solid black;
        text-align: center;
    }

    th {
        background-color: #f4f4f4;
        padding: 6px;
    }

    td {
        height: 35px;
    }

    img {
        width: 32px;
        height: auto;
    }

    #downloadBtn {
        margin-top: 20px;
        margin-bottom: 40px; /* Zvětšete tuto hodnotu podle potřeby */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    @media (max-width: 700px) {
        table {
            font-size: 75%;
        }
    }

    